version: '3.8'

services:
  n8n:
    image: n8nio/n8n:latest
    ports:
      - "5678:5678"
    environment:
      - TZ=Africa/Cairo
    volumes:
      - n8n_data:/root/.n8n
    restart: unless-stopped

volumes:
  n8n_data: